$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FDB400;
$secondary_paletteKeyColor: #887544;
$tertiary_paletteKeyColor: #847733;
$neutral_paletteKeyColor: #827563;
$neutral_variant_paletteKeyColor: #84755F;
$background: #1A1206;
$onBackground: #F1E0CA;
$surface: #1A1206;
$surfaceDim: #1A1206;
$surfaceBright: #423828;
$surfaceContainerLowest: #140D03;
$surfaceContainerLow: #221A0D;
$surfaceContainer: #271E11;
$surfaceContainerHigh: #32291A;
$surfaceContainerHighest: #3D3324;
$onSurface: #F1E0CA;
$surfaceVariant: #514531;
$onSurfaceVariant: #D6C4AA;
$inverseSurface: #F1E0CA;
$inverseOnSurface: #382F20;
$outline: #9E8E77;
$outlineVariant: #514531;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFBA2E;
$primary: #FFBA2E;
$onPrimary: #422C00;
$primaryContainer: #5F4100;
$onPrimaryContainer: #FFDEAA;
$inversePrimary: #7D5700;
$secondary: #DCC48C;
$onSecondary: #3D2F04;
$secondaryContainer: #554519;
$onSecondaryContainer: #F9E0A6;
$tertiary: #D7C77A;
$onTertiary: #383000;
$tertiaryContainer: #9F914A;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDEAA;
$primaryFixedDim: #FFBA2E;
$onPrimaryFixed: #271900;
$onPrimaryFixedVariant: #5F4100;
$secondaryFixed: #F9E0A6;
$secondaryFixedDim: #DCC48C;
$onSecondaryFixed: #241A00;
$onSecondaryFixedVariant: #554519;
$tertiaryFixed: #F4E393;
$tertiaryFixedDim: #D7C77A;
$onTertiaryFixed: #211B00;
$onTertiaryFixedVariant: #514704;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #221909;
$term1: #C3842D;
$term2: #F9C445;
$term3: #FFE2B6;
$term4: #B5AB67;
$term5: #E49A4F;
$term6: #E3C86D;
$term7: #E7D6BF;
$term8: #C5B8A5;
$term9: #FFAF47;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #E9DCAC;
$term13: #FFD2A7;
$term14: #FFF9F4;
$term15: #FFDEAB;
